/* 
+++++++++++++
main tags */


body{
margin:0;
padding:0;
line-height: 1.5em;
}

b{font-size: 110%;}
em{color: red;}

#maincontainer{
width: 1200px; /*Width of main container*/
margin: 0 auto; /*Center container on page*/
}

#topsection{
background: #CCCCFF;
height: 100px; /*Height of top section*/
text-align: right;
}

#topsection h1{
margin: 5;
padding-top: 15px;
}

#contentwrapper{
float: right;
width: 100%;
}

#contentcolumn{
margin-left: 147px; /*Set right margin to RightColumnWidth*/
padding-top: 15px;
}

#rightcolumn{
float: left;
width: 150px; /*Width of right column*/
margin-right: -150px; /*Set left margin to -(RightColumnWidth) */
background: #CCCCFF;       /*  FFCCFF  */
height: 1134px;
font-style: italic;
}


#rightcolumn h1{
padding-top: 11px;
padding-left: 46px;
font-style: italic;
font-size: 21px;
color: blue;
}


#footer{
clear: right;
width: 100%;
background: #CCCCFF;
color: #FFF;
text-align: center;
padding: 4px 0;
font-size: 19px;
}

#footer a {
color: #000000;
text-decoration: none;
background:RoyalBlue;
}

#footer h5{
color: #000000;
}

.innertube{
margin: 10px; /*Margins for inner DIV inside each column (to provide padding)*/
margin-top: 0;
}
	


.links {

padding: 13px;

}


.links a {
padding-top: 60px;
font-size: 17px;
font-style: normal;
border: hidden;
border-width: 1.2px;
padding: 21px;
color: #000099;
 text-decoration: none;
}

.links a:hover {
padding-top: 60px;
font-size: 17px;
font-style: normal;
border: hidden;
border-width: 1.2px;
padding: 21px;
color: DeepPink;
}


.missing {
font-size: 18px;
font-style: italic;
padding: 30px;
}



/*  TABBERLIVE stuff
+++++++++++++++++++++++
$Id: example.css,v 1.5 2006/03/27 02:44:36 pat Exp $ */

/*--------------------------------------------------
  REQUIRED to hide the non-active tab content.
  But do not hide them in the print stylesheet!
  --------------------------------------------------*/
.tabberlive .tabbertabhide {
 display:none;
}

/*--------------------------------------------------
  .tabber = before the tabber interface is set up
  .tabberlive = after the tabber interface is set up
  --------------------------------------------------*/
.tabber {
}
.tabberlive {
 margin-top:0.7em; /*  it was 1*/
 }

/*--------------------------------------------------
  ul.tabbernav = the tab navigation list
  li.tabberactive = the active tab
  --------------------------------------------------*/
ul.tabbernav
{
 margin:0;
 padding: 3px 3pt;
 border-bottom: 1px solid #778;
 font: bold 14px Verdana, sans-serif;
 font-variant: small-caps;
}

ul.tabbernav li
{
 list-style: none;
 margin: 0;
 display: inline;
}

ul.tabbernav li a
{
 padding: 3px 0.5em;
 margin-left: 7px;
 border: 1px solid #778;
 border-bottom: none;
 background: #DDE;
 text-decoration: none;
}

ul.tabbernav li a:link { color: #448; }
ul.tabbernav li a:visited { color: #667; }

ul.tabbernav li a:hover
{
 color: #000;
 background: #FFCC00;
 border-color: #227;
}

ul.tabbernav li.tabberactive a
{
 background-color: #fff;
 border-bottom: 1px solid #fff;
 font-size: 19px;
}

ul.tabbernav li.tabberactive a:hover
{
 color: #000;
 background: white;
 border-bottom: 1px solid white;
}

/*--------------------------------------------------
  .tabbertab = the tab content
  Add style only after the tabber interface is set up (.tabberlive)
  --------------------------------------------------*/
.tabberlive .tabbertab {
 padding:10px;
 border:1px solid #aaa;
 border-top:0;
 border-width: 2px;

 /* If you don't want the tab size changing whenever a tab is changed
    you can set a fixed height */

 /*  */

height:1045px;

 /* If you set a fix height set overflow to auto and you will get a
    scrollbar when necessary */

 /*  */
 overflow:hidden;
}

.tabberlive p {
font-size: 20px;
padding: 15px;
line-height: 28px;
}

/* If desired, hide the heading since a heading is provided by the tab 
.tabberlive .tabbertab h2 {
 display:none;
}
.tabberlive .tabbertab h3 {
 display:none;
}
*/